.btn-primary {
  &,
  &:link,
  &:visited {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 1rem !important;
    padding: 1.4rem 2.5rem;

    background-color: $color-primary;
    color: $color-white;
    font-family: $font-display;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 1.28px;

    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    border: none;

    &:hover {
      background-color: $color-primary-dark !important;
    }
  }
}
