.section-hero {
  .hero-details-area {
    height: 78rem;
    display: flex;
    align-items: center;
    color: $color-white;

    background-image: linear-gradient(
        91deg,
        #000 0.47%,
        rgba(0, 0, 0, 0) 99.58%
      ),
      url('../../assets/images/hero-img.png');

    .hero-details {
      padding: 0 8rem 0 12rem;

      .hero-description {
        max-width: 57rem;
        padding-top: 2rem;
      }

      .hero-footer-content {
        padding-top: 4.2rem;

        display: flex;
        align-items: center;
        gap: 5.3rem;

        .customer-info {
          display: flex;
          align-items: center;
          gap: 3rem;

          .customer-image-wrapper {
            display: flex;
            align-items: center;

            img {
              height: 5.4rem;
              width: 5.4rem;
              border: 2px solid $color-white;
              border-radius: 50%;
              margin-right: -1.2rem;
            }
          }
        }
      }
    }
  }

  .hero-carousel-area {
    padding: 6rem 0 4.6rem 8rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    .filter-button-container {
      display: flex;
      align-items: center;
      gap: 2rem;

      button {
        text-transform: capitalize;
      }
    }

    .carousel-image-wrapper {
      display: flex;
      align-items: center;
      gap: 3rem;
      overflow-x: hidden !important;

      .carousel-image {
        max-height: 47rem;
        min-width: 30rem;
      }
    }
  }
}

.section-about {
  background-color: $color-secondary;
  padding-top: 12rem;
  padding-bottom: 12rem;

  .project-countdown {
    position: absolute;
    bottom: 3rem;
    left: 4rem;
    text-align: center;
    padding: 2.6rem;
    background-color: rgba($color-primary, 0.215);

    &__box {
      background-color: $color-primary;
      padding: 2rem 3rem;
      color: $color-white;

      h2 {
        font-size: 4.8rem;
        line-height: 6rem;
        text-transform: capitalize;
      }

      span {
        font-family: $font-display;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
      }
    }
  }

  &__details-wrapper {
    padding-left: 4rem;
  }
  &__details {
    margin-left: 4rem;
    margin-top: 4rem;
    position: relative;

    .details-line {
      position: absolute;
      content: '';
      left: -4rem;
      width: 1px;
      height: 100%;
      background-color: $color-primary;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: $color-primary;
        transform: translate(-50%, -50%);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: $color-primary;
        transform: translate(-50%, 50%);
      }
    }
  }
}

.section-service {
  background-color: $color-black;
  position: relative;
  background-image: url('../../assets/images/service-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 80%;

  .section-title {
    display: inline-flex;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -25px;
      transform: translateY(-50%);
      width: 20px;
      height: 1px;
      background-color: $color-primary;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(-50%);
      width: 20px;
      height: 1px;
      background-color: $color-primary;
    }
  }

  .service-list__box {
    padding-top: 10rem;
    color: $color-white;

    &-gap {
      gap: 14rem;
    }

    .service-category-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .service-icon {
        height: 6.5rem;
        width: 6.5rem;

        display: flex;
        justify-content: center;
      }

      .service-details {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        p {
          opacity: 0.72;
        }
      }

      .service-button {
        text-transform: uppercase;
        font-family: $font-primary;
        font-weight: 700;
        color: $color-white;
        gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;

        i {
          transition: all 0.3s ease;
        }

        &:hover {
          i {
            color: $color-primary;
            transform: translatex(5px);
          }
        }
      }
    }
  }
}

.section-gallery {
  .gallery {
    padding-top: 5.2rem;

    &__img {
      width: 100%;
      height: 39rem;
      object-fit: cover;
      display: block;
    }
  }
}

.section-counter {
  max-width: 1760px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: $color-white;

  &-wrapper {
    background-color: $color-primary;
  }

  .counter-card {
    padding: 8rem 0;
    border-right: 1px solid rgba($color-white, 0.2);
  }

  .video-thumbnail {
    height: 66.9rem;
    position: relative;
    background-color: $color-black;

    &__overlay {
      position: absolute;
      inset: 0;
      z-index: 10;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.51) 100%
      );
      // background-image: radial-gradient(
      //     50% 50% at 50% 50%,
      //     rgba(0, 0, 0, 0) 0%,
      //     rgba(0, 0, 0, 0.51) 100%
      //   ),
      //   url(../../img/counter-video-thumbnail.png);

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.section-product {
  .product-card {
    height: 57.7rem;
    border: 1px solid $color-primary-light;
    overflow: hidden;

    &:hover {
      .bookmark-icon__wrapper {
        opacity: 1;
      }

      .product-card__details {
        transform: translateY(-35%);
      }

      .product-card__button {
        display: flex;
      }
    }

    &__image {
      height: 41.1rem;
      background-color: $color-primary-light;
      display: grid;
      place-items: center;
      position: relative;

      .product-image {
        width: 202px;
      }

      .bookmark-icon__wrapper {
        position: absolute;
        right: 2rem;
        top: 1.3rem;
        opacity: 0;
        transition: all 0.3s;

        height: 4.4rem;
        width: 4.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
      }
    }

    &__details {
      padding-top: 3rem;
      padding-bottom: 4rem;
      background-color: $color-white;
      transition: all 0.3s ease;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      .product-card__price span {
        font-family: $font-primary;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3rem;
      }

      .product-card__ratings {
        font-size: 1.6rem;
        color: $color-primary;

        & i:not(:last-child) {
          margin-right: 4px;
        }
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 2rem;
    }
  }
}

.section-infinite-scroll {
  display: inline-block;
  margin-top: 3rem;

  .section-scrolling-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    &:hover {
      .scrolling-logo-container,
      .scrolling-logo-container--2 {
        animation-play-state: paused;
        cursor: pointer;
      }
    }

    .scrolling-logo-container,
    .scrolling-logo-container--2 {
      display: flex;
      align-items: center;
      // text-wrap: nowrap;
      // flex-wrap: nowrap;
      gap: 3rem;
    }

    .scrolling-logo-container {
      animation: loop-scroll-to-left 30s linear infinite;
    }

    .scrolling-logo-container--2 {
      animation: loop-scroll-to-right 30s linear infinite;
    }

    .logo-box {
      display: flex;
      align-items: center;
      gap: 3rem;
    }

    .scrolling-logo {
      display: flex;
      align-items: center;
      gap: 3rem;

      .logo {
        width: 7.37rem;
        height: 7.37rem;
      }

      .text-wrapper {
        font-size: 6.8rem;
        line-height: 7.82rem;
        white-space: nowrap;
      }

      .text-clip {
        // -webkit-text-fill-color: $color-white;
        // -webkit-text-stroke-width: 2px;
        // -webkit-text-stroke-color: $color-black;
        color: $color-white;
        text-shadow: -2px -2px 0 $color-black, 2px -2px 0 $color-black,
          -2px 2px 0 $color-black, 2px 2px 0 $color-black;
      }
    }
  }
}

.section-message {
  padding-bottom: 10rem;
  position: relative;

  .bg-image {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 47.8rem;
    width: 66.7rem;
    z-index: -1;
  }

  .bg-image-2 {
    position: absolute;
    right: 0;
    bottom: 5.8rem;
    height: 47.8rem;
    width: 83.5rem;
    z-index: -1;
  }

  .form-message {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  input {
    width: 100%;
    padding: 1.5rem 2rem;
    border: 1px solid #e3e3e3;

    &,
    &::placeholder {
      font-family: $font-display;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 3rem;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }
}

.section-blog {
  .blog-list {
    margin-top: 6rem;
  }
  .blog-card {
    &:hover {
      box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
      .blog-card__details {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $color-primary;
      }
    }

    &__image {
      height: 236px;
      width: 100%;
    }

    &__details {
      border: 1px solid $color-grey-light-1;
      padding: 4rem;
    }
  }

  button {
    margin-top: 4rem;
  }
}

.section-testimonial {
  background-color: $color-secondary;
  margin-top: 12rem;

  .section-header {
    flex-direction: column;
    align-items: normal;
    gap: 5rem;
  }

  .testimonial-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
  }

  .testimonial-card {
    padding: 4rem;
    background-color: $color-white;
    min-width: 41rem;

    &__image {
      height: 7.6rem;
      width: 7.6rem;
    }

    .testimonial-card__details {
      .user-details {
        padding-top: 2rem;

        .paragraph {
          padding-top: 6px;
          color: $color-grey-dark;
        }

        .ratings {
          padding-top: 1rem;
          font-size: 1.4rem;
          color: $color-primary-dark;
        }
      }

      .testimonial-card__content {
        padding-top: 2rem;
        color: $color-grey-dark;
      }
    }
  }

  .partnership-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10rem;

    .logo-box {
      max-width: 262px;
    }
  }
}
