.section-about {
  background-color: $color-secondary;
  padding-top: 12rem;
  padding-bottom: 12rem;

  .about__image--box {
    width: 100%;
  }

  .project-countdown {
    position: absolute;
    bottom: 3rem;
    left: 4rem;
    z-index: -10;
    text-align: center;
    padding: 2.6rem;
    background-color: #f0e8db;

    &__box {
      background-color: $color-primary;
      padding: 2rem 3rem;
      color: $color-white;

      & > div:first-of-type {
        font-family: 'Rajdhani', sans-serif;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 6rem;
        text-transform: capitalize;
      }
    }
  }

  .section-title {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
      width: 20px;
      height: 1px;
      background-color: $color-primary;
    }
  }

  p {
    padding-top: 2rem;
  }

  &__details {
    margin-left: 4rem;
    margin-top: 4rem;
    position: relative;

    .svg-line {
      position: absolute;
      height: 100%;
    }

    div {
      padding-left: 4.5rem;
    }
  }
}

.section-service {
  background-color: $color-black;

  .service-list__box {
    padding-top: 10rem;
    color: $color-white;

    &-gap {
      gap: 14rem;
    }

    p {
      opacity: 0.72;
      padding-top: 2rem;
    }

    a {
      font-family: 'Rajdhani', sans-serif;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white;
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 4rem;
    }
  }
}
