.blog-carousel .slick-list.draggable {
  margin: 0 -7.5px;
}

.blog-card {
  margin: 0 15px;

  &:hover {
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
    .blog-card__details {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $color-primary;
    }
  }

  &__image {
    height: 236px;
    width: 100%;
  }

  &__details {
    border: 1px solid $color-grey-light-1;
    padding: 4rem;
  }

  button {
    margin-top: 4rem;
  }
}
