.section-header {
  display: flex;
  justify-content: space-between;
  align-items: end;

  .section-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .heading-sm {
    display: inline-flex;
    font-size: 1.8rem;
    line-height: 2.7px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $color-primary;
    position: relative;
  }
}
