html {
  /* This defines what 1rem is  */
  font-size: 62.5% !important;
  /* 1 rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  font-family: $font-primary !important;
  font-weight: 700 !important;
  color: $color-black !important;
  background-color: $color-white !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
