// COLORS
$color-primary: #d9a14c;
$color-primary-light: #f8ecdd;
$color-primary-dark: #ff9205;
$color-secondary: #f4f4f4;

$color-white: #fff;
$color-black: #23262d;

$color-grey-light-1: #e3e3e3;
$color-grey-dark: #616670;

// FONT VARIABLES
$font-primary: 'Rajdhani', sans-serif;
$font-display: 'Rubik', sans-serif;
